body{
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1,h2,h3{
    font-weight: bold;
}

.card{
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

footer{
    margin-top: 50px;
}

.dark-mode{
    background-color: #222;
    color: white;
}

.dark-mode .card{
    background-color: #333;
    color: white;
}

.dark-mode footer{
    background-color: #111 !important;
    color: white;
}
.card img{
    height: 200px;
    object-fit: contain;
    background-color: white;
}
body{
    background-color:#f4f6f9;
}

.navbar{
    background-color:#2c3e50 !important;
}

.btn-primary{
    background-color:#34495e;
    border-color:#34495e;
}

.btn-primary:hover{
    background-color:#2c3e50;
    border-color:#2c3e50;
}

.card{
    border:none;
    border-radius:12px;
}

footer{
    background-color:#ecf0f1 !important;
}
#display{
    text-align:left;
    font-size:24px;
    font-weight:bold;
}

.calculator-card{
    border-radius:15px;
}
.navbar-nav .nav-link{
    margin: 0 10px;
}
.navbar-nav{
    gap: 25px;
}